<header class="mt-5 text-center"> <!-- Navbar at top of page for functionality -->
    <img src="/assets/logo.png" alt="Logo" width="200" height="200">
    <nav class="d-flex justify-content-around w-25 mx-auto">
        <a href="/home">Home</a>
        <p>-</p>
        <a href="/dashboard">Dashboard</a>
        <p>-</p>
        <a href="/search">Search</a>
        <p>-</p>
        <a href="/logout">Logout</a>
    </nav>
</header>

<div class="w-75 mt-5 p-3 mx-auto"> <!-- Form for adding a review for a movie -->
    <form id="addReview-form">
        <div class="text-center">
            <h2>{{movie.Title}}</h2>
        </div>
        <h4>Add Review:</h4>
        <div class="form-floating mb-3"> <!-- Title input for review -->
            <input type="text" class="form-control" id="review-title" placeholder="Title">
            <label for="review-title">Title</label>
        </div>
        <div class="form-floating"> <!-- Review/body input for review -->
            <input type="text" class="form-control" id="review-body" placeholder="Review">
            <label for="review-body">Review</label>
        </div>

        <div class="text-center mt-2"> <!-- Rating system for 1-5 stars for review -->
            Rating:
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rateOptions" id="rate1" value=1>
                <label class="form-check-label" for="rate1">1</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rateOptions" id="rate2" value=2>
                <label class="form-check-label" for="rate2">2</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rateOptions" id="rate3" value=3 checked=""> <!-- checked by default when page opens -->
                <label class="form-check-label" for="rate3">3</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rateOptions" id="rate4" value=4>
                <label class="form-check-label" for="rate4">4</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="rateOptions" id="rate5" value=5>
                <label class="form-check-label" for="rate5">5</label>
            </div>
        </div>

        <div class="form-footer mb-4 d-flex justify-content-between"> <!-- Go back button for functionality -->
            <button class="btn btn-primary" id="go-back-btn">Go Back</button>
            <btn class="btn btn-primary" id="submit-review">Submit</btn>
        </div>

    </form>
</div>
<script src="/js/review.js"></script>