<div class="w-50 mt-5 p-3 mx-auto">
    <form id="addReview-form">

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="review-title" placeholder="Title">
            <label for="review-title">Title</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="review-body" placeholder="Review">
            <label for="review-body">Review</label>
        </div>

        Rating:
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rateOptions" id="rate1" value=1>
            <label class="form-check-label" for="rate1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rateOptions" id="rate2" value=2>
            <label class="form-check-label" for="rate2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rateOptions" id="rate3" value=3>
            <label class="form-check-label" for="rate3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rateOptions" id="rate4" value=4>
            <label class="form-check-label" for="rate4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="rateOptions" id="rate5" value=5>
            <label class="form-check-label" for="rate5">5</label>
        </div>
        
        <div class="form-footer mb-4 d-flex justify-content-end">
            <btn class="btn btn-primary" id="submit-review">Submit</btn>
        </div>

    </form>
</div>
<script src="/js/review.js"></script>