<header class="w-25 mx-auto mt-5 text-center">
    <nav class="d-flex justify-content-around">
        <a href="">Home</a>
        <p>-</p>
        <a href="/dashboard">Dashboard</a>
        <p>-</p>
        <a href="/search">Search</a>
        <p>-</p>
        <a href="/logout">Logout</a>
    </nav>
    <h2>{{user.username}} Dashboard</h2>
</header>

<main>
    <div class="row row-cols-1 row-cols-md-6 px-5 gy-5">
        
        
        {{!-- make this a partial --}}
        
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top movie-poster" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Movie title</h5>
                </div>
            </div>
        </div>
        


    </div>
</main>