<header class="w-50 mx-auto text-center mt-5">
    <img src="/assets/logo.png" alt="Logo" width="200" height="200">
</header>

<div class="w-50 mt-5 p-3 mx-auto">
    <form id="editReview-form">

        <div class="form-floating mb-3">
            <input data-id="{{review.id}}" type="text" class="form-control" id="review-title" value="{{editReview.title}}">
            <label for="review-title">Title</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control" id="review-body" value="{{editReview.body}}">
            <label for="review-body">Review</label>
        </div>

        Rating:
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1">1</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2">2</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
            <label class="form-check-label" for="inlineRadio3">3</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option4">
            <label class="form-check-label" for="inlineRadio4">4</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option5">
            <label class="form-check-label" for="inlineRadio5">5</label>
        </div>
        
        <div class="form-footer mb-4 d-flex justify-content-end">
            <button class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>
<script src="/js/editReview.js"></script>