<header class="w-50 mx-auto text-center mt-5">
    <h1>Social Movie Media</h1>
</header>

<main>
    <div id="card-rows" class="card w-75 mx-auto text-center mt-5">
        <div class="card-header">
            <h2>Welcome!</h2>
            <img src="public/assets/logo.png" alt="Logo" width="200" height="200">
        </div>
        <div class="card-body w-50 mx-auto">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum vitae laborum fugit ex iste voluptates nulla beatae commodi asperiores aspernatur sequi expedita atque blanditiis, veniam, temporibus, cumque est. Quod, quos?</p>
        </div>
        <div class="card-footer">
            <p>New to SMM? <span><a href="/login/0">Sign Up</a></span></p>
            <p>Already have an account? <span><a href="/login/1">Log In</a></span></p>
        </div>
    </div>
</main>