<header>
    <h1>Social Movie Media</h1>
</header>

<main>
    <div class="card">
        <div class="card-body">
            <h2>Welcome! (Something Cool Here)</h2>
        </div>
        <div class="card-body">
            <p>New to SMM? <span><a href="/login/0">Sign Up here</a></span></p>
            <p>Already have an account? <span><a href="/login/1">Log In</a></span></p>
        </div>
    </div>
</main>