<header class="w-50 mx-auto text-center mt-5">
    <img src="assets/logo.png" alt="Logo" width="200" height="200"> <!-- Group/App logo at top of welcome page -->
</header>

<main>
    <div id="card-rows" class="card w-75 mx-auto text-center mt-5"> <!-- Welcome Page with introduction to application and links to login/sign up -->
        <div class="card-header">
            <h2>Movie Media Mania</h2>
        </div>
        <div class="card-body w-50 mx-auto">
            <p>
                Welcome to Movie Media Mania! Thousands of movie-lovers come here to document their opinions on the biggest 21st Century films. Search for movies and look at reviews to determine if it's one to watch in the future. You can be a part of the community by posting and viewing reviews on the Home page in live time. Or, for a more personalized experience, by reviewing the movies you watch you can cultivate your own dashboard of past viewing history. Come here to remember all the movies you love.
            </p>
            <p>
                No matter the reason for joining MMM, we hope you enjoy your experience. Watch. Review. Have Fun!
            </p>
        </div>
        <div class="card-footer">
            <p>New to MMM? <span><a href="/login/0">Sign Up</a></span></p>
            <p>Already have an account? <span><a href="/login/1">Log In</a></span></p>
        </div>
    </div>
</main>