:root {
    --richblack: #04151F;
    --lightrichblack: #cae5f6;
    --paynesgray: #5D5F71;
    --paledogwood: #D4BEBE;
    --lavender: #E1DEE9;
    --lightlavender: #D5CFE1;
    --error: red;
    --pass: green;
  }

body,
.card {
    background-color: var(--lightrichblack) !important;
    color: var(--richblack);
}

a {
    color: var(--richblack);
    text-decoration: none;
}

input {
    background-color: white !important;
}

button {
    background-color: var(--paynesgray) !important;
    border: var(--paynesgray) !important;
    color:#04151F !important;
}

button:hover {
    background-color: var(--lavender) !important;
    border: var(--paynesgray) !important;
}

form {
    margin: 5px;
    padding: 20px;
    border: solid var(--richblack) 2px;
    border-radius: 2rem;
}

.page-link:hover {
    cursor: pointer;
}

.movie-poster {
    content: url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png");
}